################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GithubUserActivityCLI/.vs/GithubUserActivityCLI
